body {
  background-color: rgb(183, 47, 74);
}
.font {
  font-family: "Roboto Slab", serif;
}
.card {
  width: 18rem;
  margin: 1.5rem;
}

.card img {
  height: 17rem;
  object-fit: cover;
}

.card-container .row {
  display: flex;
  justify-content: center;
}

#card-box {
  margin-bottom: 150px;
}

a {
  color: black;
  text-decoration: none;
}
.margin {
  margin-left: 10px;
}
